.idea
.DS_Store
.vscode
cmake-build-debug
build
main.dSYM
semester-2/PRG2/Recueil exercices/3 Pointeurs/03-03_fonctions_et_arguments.dSYM/Contents/Resources/Relocations/aarch64/03-03_fonctions_et_arguments.yml
semester-2/PRG2/Recueil exercices/3 Pointeurs/03-03_fonctions_et_arguments.dSYM/Contents/Info.plist
